[submodule "ext/Sming"]
	path = ext/Sming
	url = https://github.com/malachi-iot/Sming.git
[submodule "lib/FreeRTOS_cpp/FreeRTOScpp"]
	path = lib/FreeRTOS_cpp/FreeRTOScpp
	url = https://github.com/richard-damon/FreeRTOScpp.git
[submodule "ext/mbedtlscpp"]
	path = ext/mbedtlscpp
	url = https://github.com/malachi-iot/mbedtlscpp.git
[submodule "lib/util.embedded/util.embedded"]
	path = lib/util.embedded/util.embedded
	url = https://github.com/malachib/util.embedded.git
[submodule "ext/coapcpp"]
	path = ext/coapcpp
	url = https://github.com/malachi-iot/coapcpp.git
[submodule "ext/lwipcpp"]
	path = ext/lwipcpp
	url = https://github.com/malachi-iot/lwipcpp.git
[submodule "lib/YaCoAP/YaCoAP"]
	path = lib/YaCoAP/YaCoAP
	url = https://github.com/RIOT-Makers/YaCoAP.git
